# Azure
SUPERAI_LLM__CHATGPT__OPENAI_API_TYPE=azure
SUPERAI_LLM__CHATGPT__OPENAI_API_BASE=https://superai-openai-dev-eu.openai.azure.com/
SUPERAI_LLM__CHATGPT__OPENAI_API_VERSION=2023-03-15-preview
SUPERAI_LLM__CHATGPT__OPENAI_API_KEY=YOUR-SECRET-HERE
SUPERAI_LLM__CHATGPT__SMART_FOUNDATION_MODEL_ENGINE=gpt-35-turbo
SUPERAI_LLM__CHATGPT__FAST_FOUNDATION_MODEL_ENGINE=gpt-35-turbo

SUPERAI_LLM__MEMORY__MEMORY_BACKEND=local
SUPERAI_LLM__MEMORY__MEMORY_INDEX=super_llm
SUPERAI_LLM__MEMORY__EMBEDDING_DIMENSION=1536
SUPERAI_LLM__MEMORY__PINECONE_API_KEY=YOUR-SECRET-HERE
SUPERAI_LLM__MEMORY__PINECONE_REGION=us-east1-gcp
SUPERAI_LLM__AGENTS__GOOGLE_API_KEY=YOUR-SECRET-HERE
SUPERAI_LLM__AGENTS__GOOGLE_CSE_ID=YOUR-SECRET-HERE
SUPERAI_LLM__AGENTS__SERPER_API_KEY=YOUR-SECRET-HERE
SUPERAI_LLM__AGENTS__BING_SUBSCRIPTION_KEY=YOUR-SECRET-HERE
SUPERAI_LLM__AGENTS__BING_SEARCH_URL=https://api.bing.microsoft.com/v7.0/search
SUPERAI_LLM__AGENTS__SERP_API_KEY=YOUR-SECRET-HERE
SUPERAI_LLM__AGENTS__WOLFRAM_ALPHA_APPID=YOUR-SECRET-HERE

# OpenAI
SUPERAI_LLM__CHATGPT__OPENAI_API_KEY=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

SUPERAI_LLM__MEMORY__MEMORY_BACKEND=local
SUPERAI_LLM__MEMORY__MEMORY_INDEX=super_llm
SUPERAI_LLM__MEMORY__EMBEDDING_DIMENSION=1536
SUPERAI_LLM__MEMORY__PINECONE_API_KEY=YOUR-SECRET-HERE
SUPERAI_LLM__MEMORY__PINECONE_ENV=us-east1-gcp
SUPERAI_LLM__AGENTS__GOOGLE_API_KEY=YOUR-SECRET-HERE
SUPERAI_LLM__AGENTS__GOOGLE_CSE_ID=YOUR-SECRET-HERE
SUPERAI_LLM__AGENTS__SERPER_API_KEY=YOUR-SECRET-HERE
SUPERAI_LLM__AGENTS__BING_SUBSCRIPTION_KEY=YOUR-SECRET-HERE
SUPERAI_LLM__AGENTS__BING_SEARCH_URL=https://api.bing.microsoft.com/v7.0/search
SUPERAI_LLM__AGENTS__SERP_API_KEY=YOUR-SECRET-HERE
SUPERAI_LLM__AGENTS__WOLFRAM_ALPHA_APPID=YOUR-SECRET-HERE