interactions:
- request:
    body: '{"query": "mutation {\ninsert_meta_ai_model_one(object: {description: \"\",
      endpoint: \"\", metadata: null, name: \"TestModel\", version: 1, visibility:
      PRIVATE}) {\nname\nversion\nid\nendpoint\ndescription\n}\n}", "variables": null,
      "operationName": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://metaai-dev.super.ai/v1/graphql
  response:
    body:
      string: '{"data":{"insert_meta_ai_model_one":{"name":"TestModel","version":1,"id":"a932d5c5-35d6-404b-8234-4436f62371b4","endpoint":"","description":""}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"query": "mutation {\ninsert_meta_ai_app_one(object: {assigned: PRELABEL,
      id: \"FAKE_APP_ID\", modelId: \"a932d5c5-35d6-404b-8234-4436f62371b4\"}, on_conflict:
      {constraint: app_modelId_id_assigned_key, update_columns: [modelId, active],
      where: {}}) {\nid\nmodelId\nassigned\nactive\n}\n}", "variables": null, "operationName":
      null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://metaai-dev.super.ai/v1/graphql
  response:
    body:
      string: '{"data":{"insert_meta_ai_app_one":{"id":"FAKE_APP_ID","modelId":"a932d5c5-35d6-404b-8234-4436f62371b4","assigned":"PRELABEL","active":true}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"query": "query {\nmeta_ai_app(where: {active: {_eq: true}, assignment:
      {type: {_eq: \"PRELABEL\"}}, id: {_eq: \"FAKE_APP_ID\"}}) {\nmodel {\nid\nname\n}\n}\n}",
      "variables": null, "operationName": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://metaai-dev.super.ai/v1/graphql
  response:
    body:
      string: '{"data":{"meta_ai_app":[{"model":{"id":"a932d5c5-35d6-404b-8234-4436f62371b4","name":"TestModel"}}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"query": "mutation {\ninsert_meta_ai_app_one(object: {active: false, assigned:
      PRELABEL, id: \"FAKE_APP_ID\", modelId: \"a932d5c5-35d6-404b-8234-4436f62371b4\"},
      on_conflict: {constraint: app_modelId_id_assigned_key, update_columns: [modelId,
      active], where: {}}) {\nid\nmodelId\nassigned\nactive\n}\n}", "variables": null,
      "operationName": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://metaai-dev.super.ai/v1/graphql
  response:
    body:
      string: '{"data":{"insert_meta_ai_app_one":{"id":"FAKE_APP_ID","modelId":"a932d5c5-35d6-404b-8234-4436f62371b4","assigned":"PRELABEL","active":false}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"query": "mutation {\ndelete_meta_ai_model_by_pk(id: \"a932d5c5-35d6-404b-8234-4436f62371b4\")
      {\nname\nversion\nid\nendpoint\n}\n}", "variables": null, "operationName": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://metaai-dev.super.ai/v1/graphql
  response:
    body:
      string: '{"data":{"delete_meta_ai_model_by_pk":{"name":"TestModel","version":1,"id":"a932d5c5-35d6-404b-8234-4436f62371b4","endpoint":""}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"query": "mutation {\ninsert_meta_ai_prediction_one(object: {appId: \"FAKE_APP_ID\",
      jobId: 1, modelId: \"bffa917c-af6e-4ab8-81ff-21b16a62541e\", type: PRELABEL})
      {\nid\n}\n}", "variables": null, "operationName": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://metaai-dev.super.ai/v1/graphql
  response:
    body:
      string: '{"data":{"insert_meta_ai_prediction_one":{"id":"b22818f2-53bc-418a-8334-49e631c9bc47"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"query": "mutation {\ninsert_meta_ai_instance_one(object: {predictionId:
      \"b22818f2-53bc-418a-8334-49e631c9bc47\", score: 1.0}) {\nid\n}\n}", "variables":
      null, "operationName": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://metaai-dev.super.ai/v1/graphql
  response:
    body:
      string: '{"data":{"insert_meta_ai_instance_one":{"id":364}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"query": "query {\nmeta_ai_prediction_by_pk(id: \"b22818f2-53bc-418a-8334-49e631c9bc47\")
      {\ninstances {\nid\n}\n}\n}", "variables": null, "operationName": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://metaai-dev.super.ai/v1/graphql
  response:
    body:
      string: '{"data":{"meta_ai_prediction_by_pk":{"instances":[{"id":364}]}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"query": "query {\nmeta_ai_instance_by_pk(id: 364, predictionId: \"b22818f2-53bc-418a-8334-49e631c9bc47\")
      {\nid\nscore\noutput\n}\n}", "variables": null, "operationName": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://metaai-dev.super.ai/v1/graphql
  response:
    body:
      string: '{"data":{"meta_ai_instance_by_pk":{"id":364,"score":1,"output":null}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"query": "mutation {\ndelete_meta_ai_prediction_by_pk(id: \"b22818f2-53bc-418a-8334-49e631c9bc47\")
      {\nid\n}\n}", "variables": null, "operationName": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://metaai-dev.super.ai/v1/graphql
  response:
    body:
      string: '{"data":{"delete_meta_ai_prediction_by_pk":{"id":"b22818f2-53bc-418a-8334-49e631c9bc47"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
