interactions:
- request:
    body: '{"query": "mutation {\ninsert_meta_ai_model_one(object: {description: \"\",
      endpoint: null, metadata: null, name: \"TestModel\", version: 1, visibility:
      PRIVATE, stage: LOCAL}) {\nname\nversion\nid\nstage\nendpoint\ndescription\n}\n}",
      "variables": null, "operationName": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://metaai-dev.super.ai/v1/graphql
  response:
    body:
      string: '{"data":{"insert_meta_ai_model_one":{"name":"TestModel","version":1,"id":"629d98e2-6b68-43c0-8f73-76ce97ea65ae","stage":"LOCAL","endpoint":null,"description":""}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"query": "mutation {\ninsert_meta_ai_app_one(object: {assigned: PRELABEL,
      id: \"FAKE_APP_ID\", modelId: \"629d98e2-6b68-43c0-8f73-76ce97ea65ae\"}, on_conflict:
      {constraint: app_modelId_id_assigned_key, update_columns: [modelId, active],
      where: {}}) {\nid\nmodelId\nassigned\nactive\n}\n}", "variables": null, "operationName":
      null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://metaai-dev.super.ai/v1/graphql
  response:
    body:
      string: '{"data":{"insert_meta_ai_app_one":{"id":"FAKE_APP_ID","modelId":"629d98e2-6b68-43c0-8f73-76ce97ea65ae","assigned":"PRELABEL","active":true}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"query": "query {\nmeta_ai_app(where: {active: {_eq: true}, assignment:
      {type: {_eq: \"PRELABEL\"}}, id: {_eq: \"FAKE_APP_ID\"}}) {\nmodel {\nid\nname\n}\n}\n}",
      "variables": null, "operationName": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://metaai-dev.super.ai/v1/graphql
  response:
    body:
      string: '{"errors":[{"extensions":{"path":"$.selectionSet.meta_ai_app.args.where.assignment","code":"validation-failed"},"message":"field
        \"assignment\" not found in type: ''meta_ai_app_bool_exp''"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"query": "mutation {\ndelete_meta_ai_model_by_pk(id: \"629d98e2-6b68-43c0-8f73-76ce97ea65ae\")
      {\nname\nversion\nid\nendpoint\n}\n}", "variables": null, "operationName": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://metaai-dev.super.ai/v1/graphql
  response:
    body:
      string: '{"data":{"delete_meta_ai_model_by_pk":{"name":"TestModel","version":1,"id":"629d98e2-6b68-43c0-8f73-76ce97ea65ae","endpoint":null}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"query": "mutation {\ninsert_meta_ai_prediction_one(object: {appId: \"FAKE_APP_ID\",
      jobId: 1, modelId: \"7922ad55-fa00-4aba-8fdf-6c02b1e26236\", type: PRELABEL})
      {\nid\n}\n}", "variables": null, "operationName": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://metaai-dev.super.ai/v1/graphql
  response:
    body:
      string: '{"data":{"insert_meta_ai_prediction_one":{"id":"40973757-553b-45d8-b28c-c5b2957f2238"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"query": "mutation {\ninsert_meta_ai_instance_one(object: {predictionId:
      \"40973757-553b-45d8-b28c-c5b2957f2238\", score: 1.0}) {\nid\n}\n}", "variables":
      null, "operationName": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://metaai-dev.super.ai/v1/graphql
  response:
    body:
      string: '{"data":{"insert_meta_ai_instance_one":{"id":5}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"query": "query {\nmeta_ai_prediction_by_pk(id: \"40973757-553b-45d8-b28c-c5b2957f2238\")
      {\ninstances {\nid\n}\n}\n}", "variables": null, "operationName": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://metaai-dev.super.ai/v1/graphql
  response:
    body:
      string: '{"data":{"meta_ai_prediction_by_pk":{"instances":[{"id":5}]}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"query": "query {\nmeta_ai_instance_by_pk(id: 5, predictionId: \"40973757-553b-45d8-b28c-c5b2957f2238\")
      {\nid\nscore\noutput\n}\n}", "variables": null, "operationName": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://metaai-dev.super.ai/v1/graphql
  response:
    body:
      string: '{"data":{"meta_ai_instance_by_pk":{"id":5,"score":1,"output":null}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"query": "mutation {\ndelete_meta_ai_prediction_by_pk(id: \"40973757-553b-45d8-b28c-c5b2957f2238\")
      {\nid\n}\n}", "variables": null, "operationName": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://metaai-dev.super.ai/v1/graphql
  response:
    body:
      string: '{"data":{"delete_meta_ai_prediction_by_pk":{"id":"40973757-553b-45d8-b28c-c5b2957f2238"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
