interactions:
- request:
    body: '{"query": "mutation {\ninsert_meta_ai_model_one(object: {description: \"\",
      endpoint: \"\", metadata: null, name: \"TestModel\", version: 1, visibility:
      PRIVATE}) {\nname\nversion\nid\nendpoint\ndescription\n}\n}", "variables": null,
      "operationName": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://metaai-dev.super.ai/v1/graphql
  response:
    body:
      string: '{"data":{"insert_meta_ai_model_one":{"name":"TestModel","version":1,"id":"edb17b8e-b5fd-45b7-ab0f-d4bb3eb8a0b7","endpoint":"","description":""}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"query": "mutation {\nupdate_meta_ai_model_by_pk(_set: {name: \"ChangedTestModel\"},
      pk_columns: {id: \"edb17b8e-b5fd-45b7-ab0f-d4bb3eb8a0b7\"}) {\nname\nversion\nid\nendpoint\ndescription\n}\n}",
      "variables": null, "operationName": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://metaai-dev.super.ai/v1/graphql
  response:
    body:
      string: '{"data":{"update_meta_ai_model_by_pk":{"name":"ChangedTestModel","version":1,"id":"edb17b8e-b5fd-45b7-ab0f-d4bb3eb8a0b7","endpoint":"","description":""}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"query": "query {\nmeta_ai_model_by_pk(id: \"edb17b8e-b5fd-45b7-ab0f-d4bb3eb8a0b7\")
      {\nname\nversion\nid\nendpoint\n}\n}", "variables": null, "operationName": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://metaai-dev.super.ai/v1/graphql
  response:
    body:
      string: '{"data":{"meta_ai_model_by_pk":{"name":"ChangedTestModel","version":1,"id":"edb17b8e-b5fd-45b7-ab0f-d4bb3eb8a0b7","endpoint":""}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"query": "mutation {\ndelete_meta_ai_model_by_pk(id: \"edb17b8e-b5fd-45b7-ab0f-d4bb3eb8a0b7\")
      {\nname\nversion\nid\nendpoint\n}\n}", "variables": null, "operationName": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://metaai-dev.super.ai/v1/graphql
  response:
    body:
      string: '{"data":{"delete_meta_ai_model_by_pk":{"name":"ChangedTestModel","version":1,"id":"edb17b8e-b5fd-45b7-ab0f-d4bb3eb8a0b7","endpoint":""}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"query": "query {\nmeta_ai_model {\nname\nversion\nid\nendpoint\n}\n}",
      "variables": null, "operationName": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://metaai-dev.super.ai/v1/graphql
  response:
    body:
      string: '{"data":{"meta_ai_model":[{"name":"TestModel","version":1,"id":"5ef3cf50-64c0-4725-8814-99e9ecb73f3b","endpoint":""},
        {"name":"mask-rcnn-car","version":1,"id":"8220ada2-24fc-4466-85ca-1bbf757d6f92","endpoint":"mask-rcnn-public-new"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
