interactions:
- request:
    body: '{"query": "mutation {\ninsert_meta_ai_model_one(object: {description: \"\",
      endpoint: null, metadata: null, name: \"TestModel\", version: 1, visibility:
      PRIVATE, stage: LOCAL}) {\nname\nversion\nid\nstage\nendpoint\ndescription\n}\n}",
      "variables": null, "operationName": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://metaai-dev.super.ai/v1/graphql
  response:
    body:
      string: '{"data":{"insert_meta_ai_model_one":{"name":"TestModel","version":1,"id":"1029a084-d585-4c80-b4dd-e1cd287b4773","stage":"LOCAL","endpoint":null,"description":""}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"query": "mutation {\nupdate_meta_ai_model_by_pk(_set: {name: \"ChangedTestModel\"},
      pk_columns: {id: \"1029a084-d585-4c80-b4dd-e1cd287b4773\"}) {\nname\nversion\nid\nendpoint\ndescription\n}\n}",
      "variables": null, "operationName": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://metaai-dev.super.ai/v1/graphql
  response:
    body:
      string: '{"data":{"update_meta_ai_model_by_pk":{"name":"ChangedTestModel","version":1,"id":"1029a084-d585-4c80-b4dd-e1cd287b4773","endpoint":null,"description":""}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"query": "query {\nmeta_ai_model_by_pk(id: \"1029a084-d585-4c80-b4dd-e1cd287b4773\")
      {\nname\nversion\nid\nendpoint\n}\n}", "variables": null, "operationName": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://metaai-dev.super.ai/v1/graphql
  response:
    body:
      string: '{"data":{"meta_ai_model_by_pk":{"name":"ChangedTestModel","version":1,"id":"1029a084-d585-4c80-b4dd-e1cd287b4773","endpoint":null}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"query": "mutation {\ndelete_meta_ai_model_by_pk(id: \"1029a084-d585-4c80-b4dd-e1cd287b4773\")
      {\nname\nversion\nid\nendpoint\n}\n}", "variables": null, "operationName": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://metaai-dev.super.ai/v1/graphql
  response:
    body:
      string: '{"data":{"delete_meta_ai_model_by_pk":{"name":"ChangedTestModel","version":1,"id":"1029a084-d585-4c80-b4dd-e1cd287b4773","endpoint":null}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"query": "query {\nmeta_ai_model {\nname\nversion\nid\nendpoint\n}\n}",
      "variables": null, "operationName": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://metaai-dev.super.ai/v1/graphql
  response:
    body:
      string: '{"data":{"meta_ai_model":[{"name":"TestModel","version":1,"id":"2839d227-a2bc-4618-a68c-5bf33e0eb0f1","endpoint":null}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"query": "query {\nmeta_ai_model(where: {name: {_eq: \"TestModel\"}})
      {\nname\nversion\nid\nendpoint\nmodelSavePath\n}\n}", "variables": null, "operationName":
      null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://metaai-dev.super.ai/v1/graphql
  response:
    body:
      string: '{"data":{"meta_ai_model":[{"name":"TestModel","version":1,"id":"dcda0c7b-35b4-4ce6-8d3c-30980a011e62","endpoint":null,"modelSavePath":null}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"query": "mutation {\ninsert_meta_ai_model_one(object: {description: \"some
      description\", endpoint: null, metadata: null, name: \"TestModel\", version:
      1, visibility: PRIVATE, inputSchema: \"{\\\"some\\\": \\\"input\\\"}\", outputSchema:
      \"{\\\"Some\\\": \\\"output\\\"}\", modelSavePath: \"s3://some_s3_location\",
      weightsPath: \"s3://should_be_some_s3_location\"}) {\nname\nversion\nid\ndescription\n}\n}",
      "variables": null, "operationName": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://metaai-dev.super.ai/v1/graphql
  response:
    body:
      string: '{"data":{"insert_meta_ai_model_one":{"name":"TestModel","version":1,"id":"468001e5-b008-477c-84e0-c2cbef2d7f4d","description":"some
        description"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
