interactions:
- request:
    body: '{"input_schema": {"title": "JobInput", "type": "object", "properties":
      {"url": {"title": "Original Document", "example": "https://www.super.ai", "type":
      "string"}}, "required": ["url"]}, "input_ui_schema": {"ui:order": ["url"]},
      "output_schema": {"title": "JobOutput", "type": "object", "properties": {"url":
      {"title": "Document URL", "example": "https://www.super.ai", "type": "string"}},
      "required": ["url"]}, "output_ui_schema": {"ui:order": ["url"]}, "parameter_schema":
      {"params": {"title": "Test DP Instructions", "type": "object", "properties":
      {"instructions": {"title": "Instructions", "example": "This is a test", "type":
      "string"}}, "required": ["instructions"]}}, "parameter_ui_schema": {"params":
      {"ui:order": ["instructions"]}}, "default_app_params": {"instructions": "These
      are the DP default instructions."}, "metadata": {"name": "dp_test", "description":
      "Description of the apps here", "author": "Canotic", "parameter_description":
      {"inputs": {"properties": {"url": {"title": "url", "description": "url", "example":
      ["random string #33"]}}}, "outputs": {"properties": {"url": {"title": "url",
      "description": "url", "example": ["random string #50"]}}}, "parameters": {"properties":
      {"instructions": {"title": "instructions", "description": "instructions", "example":
      ["random string #34"]}}}}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api-test.super.ai/v1/templates/dp_test.router
  response:
    body:
      string: '{"uuid": "ec150a62-5746-4745-a800-00971bf36fd3", "created": "2022-11-09T17:04:08.196+00:00",
        "measurement_job_cost": 8.0, "protocol": "QUMES", "visibility": "GROUP", "dpWorkflows":
        ["dp_test.parse"], "defaultWorkflow": "dp_test.parse", "trainingWorkflow":
        null, "type": null, "name": "dp_test.router", "appParamsSchema": {"params":
        {"title": "Test DP Instructions", "type": "object", "properties": {"instructions":
        {"title": "Instructions", "example": "This is a test", "type": "string"}},
        "required": ["instructions"]}}, "appParamsUiSchema": {"params": {"ui:order":
        ["instructions"]}}, "appMetricsSchema": null, "defaultAppParams": {"instructions":
        "These are the DP default instructions."}, "defaultAppMetrics": {"metric":
        {}}, "defaultConstraints": {"priceTag": "EASY"}, "inputSchema": {"title":
        "JobInput", "type": "object", "properties": {"url": {"title": "Original Document",
        "example": "https://www.super.ai", "type": "string"}}, "required": ["url"]},
        "inputUiSchema": {"ui:order": ["url"]}, "outputSchema": {"title": "JobOutput",
        "type": "object", "properties": {"url": {"title": "Document URL", "example":
        "https://www.super.ai", "type": "string"}}, "required": ["url"]}, "outputUiSchema":
        {"ui:order": ["url"]}, "metadata": {"name": "dp_test", "description": "Description
        of the apps here", "author": "lukas+admin@super.ai", "parameter_description":
        {"inputs": {"properties": {"url": {"title": "url", "description": "url", "example":
        ["random string #33"]}}}, "outputs": {"properties": {"url": {"title": "url",
        "description": "url", "example": ["random string #50"]}}}, "parameters": {"properties":
        {"instructions": {"title": "instructions", "description": "instructions",
        "example": ["random string #34"]}}}}}, "exampleData": null, "endpoint": "http://ebb2-217-70-140-75.ngrok.io"}

        '
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - bWBmZHqnoAMFxkQ=
      x-amzn-Remapped-Content-Length:
      - '1793'
      x-amzn-RequestId:
      - 9aed392e-2a64-41e4-9e80-6e638471e049
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api-test.super.ai/v1/templates/dp_test.router
  response:
    body:
      string: '{"uuid": "ec150a62-5746-4745-a800-00971bf36fd3", "created": "2022-11-09T17:04:08.196+00:00",
        "measurement_job_cost": 7.0, "protocol": "QUMES", "visibility": "GROUP", "dpWorkflows":
        ["dp_test.parse"], "defaultWorkflow": "dp_test.parse", "trainingWorkflow":
        null, "type": null, "name": "dp_test.router", "appParamsSchema": [...]
[...]
- request:
    body: '{"default_workflow": "dp_test.parse"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api-test.super.ai/v1/templates/dp_test.router
  response:
    body:
      string: '{"uuid": "ec150a62-5746-4745-a800-00971bf36fd3", "created": "2022-11-09T17:04:08.196+00:00",
        "measurement_job_cost": 9.0, "protocol": "QUMES", "visibility": "GROUP", "dpWorkflows":
        ["dp_test.parse"], "defaultWorkflow": "dp_test.parse", "trainingWorkflow":
        null, "type": null, "name":[...]
[...]
