interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.test.super.ai/v1/apps/a6a7b101-3c27-417f-964b-6b501977057e
  response:
    body:
      string: ''
    headers:
      location:
      - https://api.test.super.ai/v1/apps/a6a7b101-3c27-417f-964b-6b501977057e
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://api.test.super.ai/v1/apps/a6a7b101-3c27-417f-964b-6b501977057e
  response:
    body:
      string: '{"uuid": "a6a7b101-3c27-417f-964b-6b501977057e", "created": "2023-07-25
        12:29:24 UTC", "status": "ENABLED", "appParamsHistory": null, "appMetricsHistory":
        null, "job_stats": {"calibration_to_be_reviewed": 0, "collaborator_jobs":
        7, "completed_collaborator_jobs": 7, "latest_completed_job_id": 38181, "jobsUpdatedTime":
        "2023-08-10T15:16:19.077Z"}, "ownerEmail": "test@super.ai", "enterprise":
        false, "constraints": {"taskConstraints": {"document_annotation_Invoice":
        {}, "document_annotation_Receipt": {}, "document_annotation_Bill of Lading":
        {}, "document_annotation_Order": {}, "document_annotation_General": {}, "document_annotation_US
        Passport": {}, "document_annotation_US Drivers License": {}, "document_annotation_Business
        Card": {}, "document_annotation_Vaccination Card": {}, "document_annotation_Custom":
        {}, "document_annotation_GewA1": {}}}, "dpWorkflows": ["general_document_processor.parse"],
        "selectedWorkflow": "general_document_processor.parse", "ownerId": 1002, "workerRole":
        "REVIEWER", "role": "OWNER", "ownerType": "USER", "ownerUsername": "user1002",
        "inputSchema": {"title": " ", "type": "object", "properties": {"documentUrl":
        {"title": "Original Document", "allOf": [{"$ref": "#/definitions/ImageDocumentUrl"}]}},
        "required": ["documentUrl"], "examples": [{"documentUrl": "https://cdn.super.ai/invoice-example.pdf"}],
        "definitions": {"ImageDocumentUrl": {"title": "ImageDocumentUrl", "minLength":
        5, "pattern": "^data:\\/\\/[^\\/]+|(.+)[\\/]*([^\\/]+).([pP][dD][fF]|[pP][nN][gG]|[jJ][pP][gG]|[jJ][pP][eE][gG]|[tT][iI][fF][fF])$",
        "type": "string"}}}, "inputUiSchema": {"documentUrl": {"ui:field": "https://widgets.super.ai/img-document@0.0.4"},
        "ui:order": ["documentUrl"]}, "outputSchema": {"title": "Processed Document",
        "type": "object", "properties": {"url": {"title": "Document URL", "allOf":
        [{"$ref": "#/definitions/ImageDocumentUrl"}]}, "annotations": {"$ref": "#/definitions/AnnotationModel"},
        "ocrText": {"title": "Ocr text", "default": [], "type": "array", "items":
        {"$ref": "#/definitions/OcrTextDataModel"}}}, "required": ["url", "annotations"],
        "definitions": {"ImageDocumentUrl": {"title": "ImageDocumentUrl", "minLength":
        5, "pattern": "^data:\\/\\/[^\\/]+|(.+)[\\/]*([^\\/]+).([pP][dD][fF]|[pP][nN][gG]|[jJ][pP][gG]|[jJ][pP][eE][gG]|[tT][iI][fF][fF])$",
        "type": "string"}, "SimpleBoundingBox": {"title": "SimpleBoundingBox", "type":
        "object", "properties": {"top": {"title": "Top", "type": "number"}, "left":
        {"title": "Left", "type": "number"}, "width": {"title": "Width", "type": "number"},
        "height": {"title": "Height", "type": "number"}}, "required": ["top", "left",
        "width", "height"]}, "ReviewModel": {"title": "ReviewModel", "type": "object",
        "properties": {"correct": {"title": "Correct", "type": "boolean"}, "workerUUID":
        {"title": "Worker UUID", "type": "string"}, "reviewedAt": {"title": "Reviewed
        at", "type": "string", "format": "date-time"}, "message": {"title": "Message",
        "default": "", "type": "string"}}, "required": ["correct", "workerUUID", "reviewedAt"]},
        "Candidates": {"title": "Candidates", "type": "object", "properties": {"field":
        {"title": "Field", "type": "string"}, "data": {"title": "Data", "type": "array",
        "items": {"type": "object"}}}, "required": ["field", "data"]}, "advanced-custom-1R7Cjb3K1FieldContentModel":
        {"title": "advanced-custom-1R7Cjb3K1FieldContentModel", "type": "object",
        "properties": {"boundingBox": {"$ref": "#/definitions/SimpleBoundingBox"},
        "pageNumber": {"title": "Page Number", "type": "integer"}, "content": {"title":
        "Content", "type": "string"}, "review": {"title": "Reviews", "default": [],
        "type": "array", "items": {"$ref": "#/definitions/ReviewModel"}}, "confidence":
        {"title": "Confidence", "type": "number"}, "isModelConfident": {"title": "Is
        model confident", "type": "boolean"}, "documentId": {"title": "Document Type",
        "default": "advanced-custom-1", "type": "string"}, "documentName": {"title":
        "Document Name", "default": "Advanced Custom", "type": "string"}, "candidates":
        {"title": "Candidates", "allOf": [{"$ref": "#/definitions/Candidates"}]},
        "maxFields": {"title": "Max fields", "default": 1, "type": "integer"}}, "required":
        ["boundingBox", "pageNumber", "content"]}, "AnnotationModel": {"title": "AnnotationModel",
        "type": "object", "properties": {"advanced-custom-1R7Cjb3K1": {"title": "string",
        "description": " ", "document_id": "advanced-custom-1", "document_name": "Advanced
        Custom", "field_id": "r7cjb3k1", "applyRedaction": {"selection": false, "redactionType":
        "Blacken"}, "searchScope": "All", "minLength": 0, "maxLength": 100000, "humanInstruction":
        " ", "aliases": [], "minItems": 0, "type": "array", "items": {"$ref": "#/definitions/advanced-custom-1R7Cjb3K1FieldContentModel"}}}},
        "OcrTextDataModel": {"title": "OcrTextDataModel", "type": "object", "properties":
        {"boundingBox": {"$ref": "#/definitions/SimpleBoundingBox"}, "content": {"title":
        "Content", "type": "string"}, "confidence": {"title": "Confidence", "type":
        "number"}, "pageNumber": {"title": "Page number", "type": "integer"}}, "required":
        ["content"]}}, "examples": [{"url": "https://cdn.super.ai/invoice-example.pdf",
        "annotations": {"invoice-1PurchaseOrder": [{"boundingBox": {"top": 138, "left":
        136, "width": 64, "height": 7}, "content": "PO-57392018", "confidence": 0.956,
        "isModelConfident": true, "pageNumber": 1}], "invoice-1InvoiceId": [{"boundingBox":
        {"top": 124, "left": 157, "width": 34, "height": 7}, "content": "14163-5",
        "confidence": 0.964, "isModelConfident": true, "pageNumber": 1}], "invoice-1InvoiceDate":
        [{"boundingBox": {"top": 110, "left": 138, "width": 46, "height": 7}, "content":
        "2022-09-30", "confidence": 0.964, "isModelConfident": true, "pageNumber":
        1}], "invoice-1DeliveryDate": [{"boundingBox": {"top": 368, "left": 180, "width":
        47, "height": 8}, "content": "3.10.2023", "confidence": 0.871, "isModelConfident":
        true, "pageNumber": 1}], "invoice-1DueDate": [{"boundingBox": {"top": 399,
        "left": 180, "width": 44, "height": 8}, "content": "2023-03-11", "confidence":
        0.967, "isModelConfident": true, "pageNumber": 1}], "invoice-1SupplierName":
        [{"boundingBox": {"top": 229, "left": 90, "width": 54, "height": 11}, "content":
        "Tyrell Inc.", "confidence": 0.543, "isModelConfident": false, "pageNumber":
        1}], "invoice-1SupplierTaxId": [{"boundingBox": {"top": 110, "left": 439,
        "width": 55, "height": 7}, "content": "54-1234567", "confidence": 0.889, "isModelConfident":
        true, "pageNumber": 1}], "invoice-1SupplierIban": [{"boundingBox": {"top":
        415, "left": 180, "width": 135, "height": 8}, "content": "CH9300762011623852957",
        "confidence": 1, "isModelConfident": true, "pageNumber": 1}], "invoice-1SupplierAddress":
        [{"boundingBox": {"top": 275, "left": 90, "width": 110, "height": 40}, "content":
        "Mill Rd,\nWorthing BN11 4GU,\nUK", "confidence": 0.748, "isModelConfident":
        true, "pageNumber": 1}], "invoice-1SupplierAddressRecipient": [{"boundingBox":
        {"top": 260, "left": 91, "width": 61, "height": 10}, "content": "Eldon Tyrell",
        "confidence": 0.703, "isModelConfident": true, "pageNumber": 1}], "invoice-1ReceiverName":
        [{"boundingBox": {"top": 227, "left": 358, "width": 92, "height": 16}, "content":
        "Monster GmbH", "confidence": 1, "isModelConfident": true, "pageNumber": 1}],
        "invoice-1ReceiverTaxId": [{"boundingBox": {"top": 124, "left": 441, "width":
        53, "height": 7}, "content": "98-7654321", "confidence": 0.882, "isModelConfident":
        true, "pageNumber": 1}], "invoice-1ReceiverAddress": [{"boundingBox": {"top":
        276, "left": 360, "width": 90, "height": 41}, "content": "Teststr. 13,\n20100
        Hamburg,\nGermany", "confidence": 0.764, "isModelConfident": true, "pageNumber":
        1}], "invoice-1ReceiverAddressRecipient": [{"boundingBox": {"top": 260, "left":
        361, "width": 60, "height": 8}, "content": "Horst Pluto", "confidence": 0.651,
        "isModelConfident": true, "pageNumber": 1}, {"boundingBox": {"top": 260, "left":
        361, "width": 60, "height": 8}, "content": "Horst Pluto", "confidence": 1,
        "isModelConfident": true, "pageNumber": 1}], "invoice-1PaymentTerms": [{"boundingBox":
        {"top": 138, "left": 444, "width": 32, "height": 7}, "content": "Net 30",
        "confidence": 0.936, "isModelConfident": true, "pageNumber": 1}]}, "ocrText":
        []}]}, "outputUiSchema": {"annotations": {"ui:order": ["advanced-custom-1R7Cjb3K1"]},
        "ui:field": "https://widgets.super.ai/document-extraction@1"}, "settings":
        {"downloadSettings": {"customFileNameKeys": [], "expandOutputColumns": true,
        "includeMessages": false, "includeAnnotations": false, "flattenTables": true,
        "excludeHeaderRow": false, "fieldDelimiter": ",", "quoteValues": false, "sendEmail":
        true, "saveSettings": false}, "postProcessing": false, "ttlSettings": {"onCompleted":
        {"ttlInSeconds": 0, "enabled": false}}}, "name": "Test Project", "templateName":
        "general_document_processor.router", "projectName": "default", "metadata":
        null, "appParams": {},"appMetrics": {"metric": {}},
        "canoticCrowd": false, "visibility": "PRIVATE", "superTasks": null}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.test.super.ai/v1/apps?sortBy=created&orderBy=desc
  response:
    body:
      string: ''
    headers:
      location:
      - https://api.test.super.ai/v1/apps?sortBy=created&orderBy=desc
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://api.test.super.ai/v1/apps?sortBy=created&orderBy=desc
  response:
    body:
      string: '{"apps": [{"uuid": "a6a7b101-3c27-417f-964b-6b501977057e", "created":
        "2023-07-25 12:29:24 UTC", "status": "ENABLED", "appParamsHistory": null,
        "appMetricsHistory": null, "job_stats": null, "ownerEmail": "test@super.ai",
        "enterprise": false, "constraints": {"taskConstraints": {"document_annotation_Invoice":
        {}, "document_annotation_Receipt": {}, "document_annotation_Bill of Lading":
        {}, "document_annotation_Order": {}, "document_annotation_General": {}, "document_[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.test.super.ai/v1/apps?page=1&sortBy=created&orderBy=desc
  response:
    body:
      string: ''
    headers:
      location:
      - https://api.test.super.ai/v1/apps?page=1&sortBy=created&orderBy=desc
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://api.test.super.ai/v1/apps?page=1&sortBy=created&orderBy=desc
  response:
    body:
      string: '{"apps": [], "total": 6, "pageSize": 10, "pageNumber": 1, "pages":
        1, "totalArchivedApps": 1}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.test.super.ai/v1/apps?size=10&sortBy=created&orderBy=desc
  response:
    body:
      string: ''
    headers:
      location:
      - https://api.test.super.ai/v1/apps?size=10&sortBy=created&orderBy=desc
    status:
      code: 301
      message: Moved Permanently
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.test.super.ai/v1/apps?page=2&size=1&sortBy=created&orderBy=desc
  response:
    body:
      string: ''
    headers:
      location:
      - https://api.test.super.ai/v1/apps?page=2&size=1&sortBy=created&orderBy=desc
    status:
      code: 301
      message: Moved Permanently
[...]
